# Created by .ignore support plugin (hsz.mobi)
.idea/
common/common.iml
mms-parent.iml
my-microservice-seed.iml
auth-service/auth-service.iml
.DS_Store
logs/
rest-service-core/rest-service-core.iml
rest-service-core/src/main/resources/static/swagger/swagger-ui-bundle.js.map
rest-service-core/src/main/resources/static/swagger/swagger-ui-standalone-preset.js.map
rest-service-core/src/main/resources/static/swagger/swagger-ui.css.map
rest-service-core/src/main/resources/static/swagger/swagger-ui.js.map
user-service/user-service.iml
common/target/
rest-service-core/target/
user-service/target/
