<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <properties>
        <!--日志目录-->
        <property name="logDir">../logs/</property>
        <!--日志文件名-->
        <property name="fn">user-service.log</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p] %d [%t] [%c] - %m%n"/>
        </Console>

        <RollingRandomAccessFile name="ff" fileName="${logDir}${fn}"
                                 filePattern="${logDir}/bk/$${date:yyyy-MM}/${fn}-%d{MM-dd-yyyy}-%i.log.gz">
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="31"/>
            <PatternLayout pattern="[%p] %d [%t] [%c{1.}] - %m%n"/>
        </RollingRandomAccessFile>

        <Async name="Async" bufferSize="1000" includeLocation="true">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="ff"/>-->
        </Async>
    </Appenders>

    <Loggers>
        <root level="debug">
            <appender-ref ref="Async"/>
        </root>
    </Loggers>
</Configuration>